@{
    Layout = null;
    ViewData["Title"] = "Products Catalog";
}

<!DOCTYPE html>
<html lang="en" >
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/style/style.css" />
</head>
<body style="margin:0">
    <div id="content">Site is loading...</div>
    <noscript>Browser with JavaScript required</noscript>
    <script type="text/javascript" src="@Url.Content("~/assets/bundle.js")"></script>
</body>
</html>