@{
    Layout = null;
    ViewData["Title"] = "Products Catalog";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div id="content">Site is loading...</div>
    <script type="text/javascript" src="@Url.Content("~/assets/bundle.js")"></script>
</body>
</html>